<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.iot.repository.analysis.DeviceMapper">
    <select id="getAllDevicesInfo" resultMap="DeviceData">
        select
        <include refid="deviceColumns">
            <property name="alias" value="d"/>
        </include>,
        <include refid="deviceChannelColumns">
            <property name="alias" value="dc"/>
        </include>,
        <include refid="channelDataFieldColumns">
            <property name="alias" value="cdf"/>
        </include>
        from device d
        left join device_channel dc on d.id = dc.device_id
        left join channel_data_field cdf on dc.id = cdf.channel_id
        where cdf.channel_type = 0;
    </select>

    <resultMap id="DeviceData" type="com.example.iot.domain.analysis.DeviceData">
        <constructor>
            <idArg column="device_id" javaType="Integer"/>
        </constructor>
        <association property="device" resultMap="Device"/>
        <collection property="channels" resultMap="ChannelData"/>
    </resultMap>

    <resultMap id="ChannelData" type="com.example.iot.domain.analysis.ChannelData">
        <constructor>
            <idArg column="channel_id" javaType="Integer"/>
        </constructor>
        <association property="channel" resultMap="DeviceChannel"/>
        <collection property="dataFields" resultMap="ChannelDataField"/>
    </resultMap>

    <sql id="deviceColumns">
        ${alias}.id as device_id,
        ${alias}.template_id as device_template_id,
        ${alias}.user_id as device_user_id,
        ${alias}.name as device_name,
        ${alias}.description as device_description,
        ${alias}.classification as device_classification,
        ${alias}.connection_type as device_connection_type,
        ${alias}.data_format_type as device_data_format_type,
        ${alias}.create_time as device_create_time,
        ${alias}.update_time as device_update_time
    </sql>

    <resultMap id="Device" type="com.example.iot.domain.Device">
        <id property="id" column="device_id"/>
        <result property="templateId" column="device_template_id"/>
        <result property="userId" column="device_user_id"/>
        <result property="name" column="device_name"/>
        <result property="description" column="device_description"/>
        <result property="classification" column="device_classification"/>
        <result property="connectionType" column="device_connection_type"/>
        <result property="dataFormatType" column="device_data_format_type"/>
        <result property="createTime" column="device_create_time"/>
        <result property="updateTime" column="device_update_time"/>
    </resultMap>

    <sql id="deviceChannelColumns">
        ${alias}.id as channel_id,
        ${alias}.channel_type as channel_type,
        ${alias}.device_id as channel_device_id,
        ${alias}.template_channel_id as channel_template_id,
        ${alias}.channel_name as channel_name
    </sql>

    <resultMap id="DeviceChannel" type="com.example.iot.domain.DeviceChannel">
        <id property="id" column="channel_id"/>
        <result property="channelType" column="channel_type"/>
        <result property="deviceId" column="channel_device_id"/>
        <result property="templateChannelId" column="channel_template_id"/>
        <result property="channelName" column="channel_name"/>
    </resultMap>

    <sql id="channelDataFieldColumns">
        ${alias}.id as field_id,
        ${alias}.field_name as field_name,
        ${alias}.field_type as field_type,
        ${alias}.channel_id as field_channel_id,
        ${alias}.channel_type as field_channel_type
    </sql>

    <resultMap id="ChannelDataField" type="com.example.iot.domain.ChannelDataField">
        <id property="id" column="field_id"/>
        <result property="fieldName" column="field_name"/>
        <result property="fieldType" column="field_type"/>
        <result property="channelId" column="field_channel_id"/>
        <result property="channelType" column="field_channel_type"/>
    </resultMap>
</mapper>